<?xml version="1.0"?>
<launch>
 <arg name="no_static_map" default="false"/>
 <arg name="base_global_planner" default="navfn/NavfnROS"/>
  <arg name="base_local_planner" default="dwa_local_planner/DWAPlannerROS"/>
  <!-- <arg name="base_local_planner" default="base_local_planner/TrajectoryPlannerROS"/> -->

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">

    <param name="base_global_planner" value="$(arg base_global_planner)"/>
    <param name="base_local_planner" value="$(arg base_local_planner)"/>
    <rosparam file="$(find swarmbot)/param/rob2/planner_rob2.yaml" command="load"/>

    <!-- observation sources located in costmap_common.yaml -->
    <rosparam file="$(find swarmbot)/param/rob2/costmap_common_rob2.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find swarmbot)/param/rob2/costmap_common_rob2.yaml" command="load" ns="local_costmap" />

    <!-- local costmap, needs size -->
    <rosparam file="$(find swarmbot)/param/rob2/costmap_local_rob2.yaml" command="load" ns="local_costmap" />
    <param name="local_costmap/width" value="5.0"/>
    <param name="local_costmap/height" value="5.0"/>
<!-- kano 10.0 w sh3'alen eshta lw l shape 3nd l goal ,5lthom 5 3shan agarb yfdlo m7fzen 3l shape -->

    <!-- static global costmap, static map provides size -->
    <rosparam file="$(find swarmbot)/param/rob2/costmap_global_static_rob2.yaml" command="load" ns="global_costmap" unless="$(arg no_static_map)"/>

    <!-- global costmap with laser, for odom_navigation_demo -->
    <rosparam file="$(find swarmbot)/param/rob2/costmap_global_laser_rob2.yaml" command="load" ns="global_costmap" if="$(arg no_static_map)"/>
    <param name="global_costmap/width" value="100.0" if="$(arg no_static_map)"/>
    <param name="global_costmap/height" value="100.0" if="$(arg no_static_map)"/>
    <remap from="/rob2/rob2/scan" to="/rob2/scan"/>
    <remap from="/rob2/map" to="/map"/>
  </node>

</launch>
