<?xml version="1.0"?>
<launch>
   <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <param name="controller_frequency" value="0.5"/> 
    <param name="controller_patiente" value="15.0"/>
    <rosparam file="$(find swarmbot)/param/mult/costmap_common_params_rob1.yaml" command="load" ns="global_costmap" /> 
    <rosparam file="$(find swarmbot)/param/mult/costmap_common_params_rob1.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find swarmbot)/param/mult/local_costmap_params_rob1.yaml" command="load" />
    <rosparam file="$(find swarmbot)/param/mult/global_costmap_params_rob1.yaml" command="load" /> 
    <rosparam file="$(find swarmbot)/param/mult/base_local_planner_params_rob1.yaml" command="load" />
    <!--remap from="move_base_simple/goal" to="rob1/move_base_simple/goal" /-->
    <remap from="/rob1/rob1/scan" to="/rob1/scan"/>
    <remap from="/rob1/map" to="/map"/>
 </node>
</launch>
