
<launch>

<node pkg="swarmbot" type="Narrow_path_detection.py" name="rob1_laser" output="screen" >
	<remap from="/scan" to="/rob1/scan" />
	<remap from="/isNarrow" to="/rob1/isNarrow" />
</node>	

<node pkg="swarmbot" type="Narrow_path_detection.py" name="rob2_laser" output="screen" >
	<remap from="/scan" to="/rob2/scan" />
	<remap from="/isNarrow" to="/rob2/isNarrow" />
</node>

<node pkg="swarmbot" type="Narrow_path_detection.py" name="rob3_laser" output="screen" >
	<remap from="/scan" to="/rob3/scan" />
	<remap from="/isNarrow" to="/rob3/isNarrow" />
</node>

</launch>
